.employee-details {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 600px;
  }
  
  .detail-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .detail-label {
    font-weight: bold;
  }
  
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the container height to the full viewport height */
  }
  /* Add more styling as needed */
  